{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/base.css">
    <title>{{template "page-title" .}} - Cari Hesap</title>
</head>
<body>

<div class="container">


    <header>
            <h1>eCariHesap</h1>
    </header>


    <nav>
        <ul>
        {{block "nav" .}}
            <li><a href="../">Ana Sayfa</a></li>
            <li><a href="/auth/carikartlar.html">Cari Kartlar</a></li>
            <li><a href="#">Raporlar</a></li>
            <li><a href="#">Fatura</a></li>
            <li><a><br></a></li>
            {{if .UserName}}
                <li><a href="#">Merhaba {{.UserName}}</a></li>
                <li><a href="/logout.html">Çıkış Yap</a></li>
            {{end}}
        {{end}}
        </ul>
    </nav>

    <article>
        {{template "page-body" .}}
    </article>
    <footer>Copyright &copy; 2017 bessoft.com</footer>
</div>

</body>
</html>

{{end}}


