{{define "page-title"}}Cari Karlar{{end}}

{{define "page-body"}}



<a href="\auth\carikartlar.html?T=1&id={{.KayitId2}}">  < önceki  </a>

<a href="\auth\carikartlar.html?T=2&id={{.KayitId}}">  sonraki >  </a>



<table>
    <caption>Cari Kart Listesi</caption>
    <tr>
        <th>id</th>
        <th>Unvan</th>
        <th>Kod</th>
        <th>Telefon</th>
        <th>Borc</th>
        <th>Alacak</th>
        <th>işlem</th>

    </tr>

    {{range .Data}}
    <tr>
        <td>{{.Id      }}</td>
        <td>{{.Unvan   }}</td>
        <td>{{.Kod     }}</td>
        <td>{{.Telefon }}</td>
        <td>{{.Borc    }}</td>
        <td>{{.Alacak  }}</td>

        <td><a href="\auth\carikart.html?id={{.Id}}"> Detay </a>
        <a href="\auth\ekstre.html?id={{.Id}}"> Ekstre </a></td>

    </tr>
    {{end}}


</table>



{{end}}
